<nav>
  <div class="nav">
    <div class="brand">厲害的履歷</div>
    <ul>
        <li class="signup"><%= link_to "註冊", users_sign_up_path%></li>
        <li class="signin"><%= link_to "登入", "#" %></li>
    </ul>
  </div>
</nav>